<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifejodi">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".landingpage.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.activity.LoginActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".login.activity.RegisterActivity" android:screenOrientation="portrait" />
        <activity android:name=".home.activity.HomeActivity" android:screenOrientation="portrait" />
        <activity android:name=".login.activity.ForgotPasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".InboxActivity" android:screenOrientation="portrait"/>
        <activity android:name=".NotificationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".event.activity.EventsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".event.activity.EventRegistrationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PaymentActivity" android:screenOrientation="portrait"/>
        <activity android:name=".VideoCallActivity" android:screenOrientation="portrait"/>
        <activity android:name=".search.activities.SearchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".login.activity.LoginViaOTPActivity" android:screenOrientation="portrait"/>
        <activity android:name=".login.activity.GetCurrentLocationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".home.activity.ProfileDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".navigation.activities.DailyRecommActivity" android:screenOrientation="portrait"/>
        <activity android:name=".navigation.activities.ShowProfileDataActivity" android:screenOrientation="portrait"/>
        <activity android:name=".event.activity.EventDetailsActivity" android:screenOrientation="portrait"/>
        <service android:name=".login.service.FetchAddressIntentService"
            android:exported="false"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name=".search.activities.SearchResultActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".utils.TempActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD8yfp6PEc9021aGuVXLdLuOyiRdm25Mm8" />
    </application>

</manifest>